-   repo: https://github.com/pycqa/isort
    rev: 5.6.3
    hooks:
      - id: isort
        name: isort (python)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0  # Use the ref you want to point at
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        args: [--max-line-length=123, '--ignore=E722,W504']
